.git
.gitignore
.vscode
.idea
.cache

build/
build-*/
**/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt
Testing/

.DS_Store
*.swp
*.bak
*.tmp
*.log

README.md
compose.yaml
compose.yml
docker-compose.yaml
docker-compose.yml
*.pdf
